# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
tensquare_article/target/generated-sources/
tensquare_base/src/test/
tensquare_base/target/generated-sources/
tensquare_common/src/test/
tensquare_common/target/generated-sources/
tensquare_qa/target/generated-sources/
tensquare_recruit/target/generated-sources/

.idea/**
*.iml
tensquare_config/src/test/
tensquare_config/target/generated-sources/
tensquare_eureka/src/test/
tensquare_eureka/target/generated-sources/
tensquare_friend/src/test/
tensquare_gathering/target/generated-sources/
tensquare_manager/src/test/
tensquare_search/src/test/
tensquare_search/target/generated-sources/
tensquare_sms/src/test/
tensquare_sms/target/generated-sources/
tensquare_spit/src/test/
tensquare_spit/target/generated-sources/
tensquare_user/src/test/
tensquare_user/target/generated-sources/
tensquare_web/src/test/
tensquare_web/target/generated-sources/